<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChangeGroupOnDevice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ChangeGroupOnDevice.Properties.Settings>
            <setting name="old_group" serializeAs="String">
                <value>Cluster_VD_VIP_3</value>
            </setting>
            <setting name="new_group" serializeAs="String">
                <value>Cluster_VD_VIP_1</value>
            </setting>
            <setting name="grName" serializeAs="String">
                <value>City_8</value>
            </setting>
        </ChangeGroupOnDevice.Properties.Settings>
    </applicationSettings>
</configuration>